<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Public Art Found | New Public Arts Foundation</title>
  <link rel="stylesheet" href="css/todos.css"/>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-53573115-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>


<body>

  <div id="todoapp">

    <header>
      <h1>Public Art Found</h1>
      <div id="artPhoto">

      </div>
      <input id="new-answer" type="text" placeholder="Who is the artist?">
      <label for="" style="color: #777">Press enter to submit</label>
    </header>

    <div id="todoapp-post"></div>
    <hr>
  </div>


  <div id="leaderBoard">
    <h3>Leaderboard</h3>
    <table id="leaderboardTable"></table>
    <hr>
    <h2>Your name</h2>
    <input type="text" id="nameInput" placeholder="Enter your name here">
    <hr>
  </div>




  <div id="instructions">
    Correct guess gets you 1 point. <br>
    Incorrect guess gets you -1 point. <br>
    First person to guess correctly gets 2 points.
  </div>

  <div id="credits">
    Created by
    <br />
    <a href="http://newpublicartfoundation.com">New Public Art Foundation</a>.
    <br />Rewritten by: <a href="http://twitter.com/rememberlenny">Leonard Bogdonoff</a>.
  </div>

  <script src="js/application.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
  <script src="//cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/underscore-1.4.4.min.js"></script>
  <script src="js/backbone.min.js"></script>
  <script src="js/backfire.js"></script>
  <script src="js/chance.js"></script>
  <script src="js/leaderboard.js"></script>
  <script src="js/graffanswer.js"></script>
  <script src="js/todos.js"></script>

  <!-- Templates -->
  <script type="text/template" id="past-answer-template">
    <div class="past-answer-template">
      <img src="<%- imageUrl %>" alt="">
      <span class="userSelection"><%- userSelection -></span>
    </div>
  </script>

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
